<main class="container intro">
  <div class="grid-5">
    <img src="../assets/img/lescone.png" alt="lescone" class="logo" />
    <div class="intro-info">
      <p>
        De Seg. à Sab. <span class="icon-status"></span> <br />
        das 07h às 18h
      </p>
      <p>
        Praia de Botafogo,300 <br />
        Rio de Janeiro - RJ
      </p>
    </div>
    <p class="intro-telefone">+55 92 984654261</p>
  </div>
  <div class="grid-7">
    <img src="../assets/img/foto.png" alt="foto" />
  </div>
</main>
<!-- Menu -->
<section class="container">
  <h1 class="grid-4 titulo">Menu</h1>
  <div class="grid-7 offset-1">
    <div class="menu-item">
      <img src="../assets/img/prato-1.png" alt="Prato 1" />
      <h2>Entradas</h2>
      <ul>
        <li><span>R$1.70</span>Ovos Mexidos</li>
        <li><span>R$2.70</span>Scones de Frutas</li>
        <li><span>R$3.70</span>Joelho de Queijo</li>
        <li><span>R$4.70</span>Presunto Cozido</li>
        <li><span>R$5.70</span>Coxinha de Frango</li>
      </ul>
    </div>

    <div class="menu-item">
      <img src="../assets/img/prato-2.png" alt="Prato 2" />
      <h2>Pratos</h2>
      <ul>
        <li><span>R$10.70</span>Penne com Queijo</li>
        <li><span>R$20.70</span>Feijoada</li>
        <li><span>R$30.70</span>Costela ao Molho</li>
        <li><span>R$40.70</span>Medalhão de Frango</li>
        <li><span>R$50.70</span>Coxinha de Frango</li>
      </ul>
    </div>
  </div>
</section>
<!-- Contato -->
<section class="container contato">
  <h1 class="grid-4 titulo">Contato</h1>
  <div class="grid-7 offset-1">
    <form>
      <label> Nome </label>
      <input type="text" />
      <div class="row">
        <div class="grid-7">
          <label>Email</label>
          <input type="text" />
        </div>
        <div class="grid-5">
          <label>Telefone</label>
          <input type="text" />
        </div>
      </div>
      <label>Mensagem</label>
      <textarea></textarea>
      <input class="button" type="button" value="Enviar">
    </form>
    <div class="contato-info">
      <p>contato@lescone.com ////</p>
      <p>+55 92 984654261 ////</p>
    </div>
    <a href="#" class="contato-mapa">
      <img src="../assets/img/map.png" alt="Como chegar em Le Scone">
    </a>
  </div>
</section>

<footer>
  <div class="container">
    <p>Le Scone © 1989 - 2016. Alguns direitos reservados</p>
    <a href="#">
      <img src="../assets/img/lescone-icone.png" alt="">
    </a>
  </div>
</footer>