
// cores
$bege-claro: #edece4;
$bege-medio: #cbc6b9;
$bege-escuro: #988c77;
$cinza: #2a2426;
$verde: green;

// fontes
$fonte-primaria: 'PT Mono', 'monospace';
$fonte-secundaria: 'Aref Ruqaa', 'serif';